@(assignmentForm: Form[forms.AssignmentForms.AssignmentForm], stuffForm: Form[forms.AssignmentForms.StuffForm], idL: Long)
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import helper._
@import helper.twitterBootstrap._

@main() {
	@navigation.homeMenu()
	@dynamic("IsLectureadminOfLecture") {	
		<div class="col-12 col-sm-8 col-lg-9">
			<legend>Aufgabe bearbeiten</legend>
			@helper.form(routes.AssignmentController.saveStuff(idL, assignmentForm.get().assignment.getId()), 'enctype -> "multipart/form-data") {
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title">Material</h3>
						  </div>
						  <div class="panel-body">
						  <div class="row">
						  	<div class="col-lg-12">
							  	@if(assignmentForm.get().assignment.getStuff().isEmpty()) {
									<p>Kein Material vorhanden.</p>
								} else {
									@for(stuff <- assignmentForm.get().assignment.getStuff()) {
									<p>
										<a href="@routes.AssignmentController.downloadStuff(assignmentForm.get().assignment.getLecture().getId(), assignmentForm.get().assignment.getId(), stuff.id)">@stuff.getFileName()</a>
										<a class="pull-right" href="@routes.AssignmentController.deleteStuff(assignmentForm.get().assignment.getLecture().getId(), assignmentForm.get().assignment.getId(), stuff.id)">
											<button type="button" class="btn btn-danger btn-xs pull-right spacer-left">Entfernen</button>
										</a>
									</p>
									}
								}
						  	</div>
						  </div>
							
							<div class="row">
									<div class="col-lg-6">
										<div class="form-group @if(flash.contains("stuffName")) {has-error}">
											<input type="text" name="stuffName" placeholder="Materialname" class="form-control">
											@if(flash.contains("stuffName")) { <font size=2px color=red>@flash.get("stuffName")</font> }
										</div>
									</div>
								</div>	
								<div class="row">
									<div class="col-lg-4 col-sm-8">
										<input type="file" name="stuff">
									</div>
									<div class="col-lg-2 col-sm-4 text-right">
										@button.addSubmit()
									</div>
								</div>
						  </div>
						</div>
					</div>
				</div>
		}
		
		@helper.form(routes.AssignmentController.saveAssignmentEdit(idL, assignmentForm.get().assignment.getId())) {
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Name und Beschreibung</h3>
		  </div>
		  <div class="panel-body">
				
				<div class="row">
					<div class="col-lg-12">
						<div class="form-group @if(flash.contains("name")) {has-error}">
							<label class="control-label">Name der Aufgabe</label>
							<input type="text" name="name" class="form-control" value="@assignmentForm("name").value">
							@if(flash.contains("name")) { <font size=2px color=red>@flash.get("name")</font> }
						</div>
					</div>
				</div>	

				<div class="row">
					<div class="col-lg-12">
						<div class="form-group @if(flash.contains("description")) {has-error}">
							<label class="control-label">Beschreibung</label>
							<textarea id="descriptionText" rows="3" cols="50" name = "description" class="form-control">@assignmentForm("description").value</textarea>
							@if(flash.contains("description")) { <font size=2px color=red>@flash.get("description")</font> }
						</div>
					</div>
				</div>	
		  </div>
		</div>
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Details</h3>
		  </div>
		  <div class="panel-body">
		    <div class="row">
					<div class="col-lg-6">
						<div class="form-group @if(flash.contains("deadline")) {has-error}">
							<label class="control-label">Abgabeschluss</label>
							<label class="control-label">(Format: jjjj-mm-tt)</label>
							<input type="date" name="deadline" class="form-control" value="@assignmentForm("deadline").value">
							@if(flash.contains("deadline")) { <font size=2px color=red>@flash.get("deadline")</font> }
						</div>
					</div>
					<div class="col-lg-6">
						<div class="form-group @if(flash.contains("multiplicator")) {has-error}">
							<label class="control-label">Gewichtung</label>
							<input type="number" name="multiplicator" class="form-control" value="@assignmentForm("multiplicator").value">
							@if(flash.contains("multiplicator")) { <font size=2px color=red>@flash.get("multiplicator")</font> }
						</div>
					</div>
				</div>		

				<div class="row">
					<div class="col-lg-12">
						<div class="form-group">
							@textarea(assignmentForm("comment"), 
										args = 'rows -> 3, 
										'_label -> "Kommentar", 
										'class -> "form-control", 
										'cols -> 50
							)
						</div>
					</div>
				</div>	
				
				<div class="row">
					<div class="col-lg-1">
						<div class="form-group">
							@checkbox(assignmentForm("additional"), '_label -> "Zusatzblatt")
						</div>
					</div>
				</div>	
				
		  </div>
		  
		</div>
		<div class="row">
					<div class="col-lg-12 text-right">
						@button.save()
					</div>
				</div>
		</div>
		}
	}
}

<script src="@routes.Assets.at("javascripts/nicEdit.js")" type="text/javascript"></script>
<script type="text/javascript">bkLib.onDomLoaded(function(){nicEditors.allTextAreas({iconsPath:'@routes.Assets.at("images/nicEditorIcons.gif")'});});</script>