logs
product
project/project
project/target
target
tmp
tempdist
.history
.cache
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.target
/bin
/uploads
/**/activator-sbt-*-shim.sbt
