@(lecture: Lecture)

@form.multiselectable.dutys(lecture.getOpenDutys(),"dutys", "filterDutys", "btnDutys")
@form.multiselectable.proofreaders(lecture.getResponsibleUser(),"proofreaders", "filterProofreaders", "btnProofreaders")
<div class="col-1 col-sm-1 col-lg-1" id="button-middle">
  <button type="button" class="btn btn-default fa fa-long-arrow-right" id="addtarget"></button>
  <button type="button" class="btn btn-default fa fa-long-arrow-left" id="releasetarget"></button>
</div>
@form.multiselectable.proofreaders(Lecture.findResponsibleUserWithAssessment(lecture.getId()), "selectedProofreaders", "filterSelectedProofreaders", "btnSelectedProofreaders") 
@form.multiselectable.dutys(new LinkedList, "catchedDutys", "filterCatchedDutys", "btnCatchedDutys")
<script>
$(document).ready(function() {  
    
function allocate() {
  jsRoutes.controllers.DutyController.allocate1(@lecture.getId(), getdutys(), getproofreaders()).ajax({
    type: "POST",
    success: function(data) {
      $("#dutyAllocationTable").html(data);
      refreshGlobalMessage();
    },
    error: function() {
	  refreshGlobalMessage();
    }
  })
};
    
function release() {
    jsRoutes.controllers.DutyController.release1(@lecture.getId(), getcatchedDutys(), getselectedProofreaders()).ajax({
      type: "POST",
      success: function(data) {
        $("#dutyAllocationTable").html(data);
        refreshGlobalMessage();
      },
      error: function() {
        refreshGlobalMessage();
      }
    })
};

function refreshCatchedDutys() {
  jsRoutes.controllers.DutyController.refreshCatchedDutys1(@lecture.getId(), getselectedProofreaders()).ajax({
    type: "POST",
    success: function(data) {
      $("#catchedDutys").replaceWith(data)
    }
  })
};


$('#selectedProofreaders').on("change", function() {
  refreshCatchedDutys();
})

$('#btnSelectedProofreaders').on("click", function() {
  refreshCatchedDutys();
})

function appendListeners() {
    $('#addtarget').click(function() {
        allocate();
    });
    $('#releasetarget').click(function() {
        release();
    });
  }
  appendListeners();
});
</script>
<script src="@routes.Assets.at("javascripts/jquery.filter.js")" type="text/javascript"></script>